
<% const pick0a = ["Top Picks", "Our Customers Favourites"];
   const pick1a = ["Healthy", "Our Healthiest Selections"]; %>

<div class="section-3">
    <% for(let i = 0; i < 2; i++) { %>
    <div class="header">
      <div class="headerTitle">
        <h2>Top Picks</h2>
        <span>Our Customers Favourites</span>
      </div>
    </div>
    <div class="section-3-grid">
      <div class="section-3-col">
        <% for(let j = 0; j < 4; j++) { %>
        <div class="section-3-grid-element">
          <div class="container">
          <div class="card">
                <div class="content-1">
                  <div class="mainImage">
                    <img src="assets/fruits-12112.png" alt="">
                  </div>
                </div>
                <div class="content-2">
                  <div class="kind">
                    <span>Green's Mix</span>
                    <h4>Fruits</h4>
                  </div>
                  <div class="description">
                    <p>This product is blah blah blah blah</p>
                  </div>
                  <div class="price">
                    <span>$</span>
                    <span>40</span>
                    <div class="space"></div>
                    <button class="btn">Add to Cart</button>
                  </div>
                </div>
          </div>
        </div>
        </div>
        <% } %>
    </div>
    </div>
      <% } %>
  </div>


