<%# Category selection on the home page - display: category icon on top of category description%>
<% const categories = ["Bakery", "Veggies", "Drinks", "Frozen", "Fruits", "Meats", "Dairy"]; %>

<section class="section-1">
        <ol class="flex">
            <% categories.forEach((val) => { %>
            <li><a href="categories/<%=val.toLowerCase() %>">
                <figure>
                    <img src="assets/<%= val %>.png"/>
                    <figcaption><%= val %></figcaption>
                </figure>
            </a></li>
            <% }) %>
        </ol>
</section>