<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="exponential.js"></script>
<script type="module" src="/src/index.js"></script>
<% if(session.payment) { %>
    <script type="module" src="/src/success.js"></script>
    <%session.payment = false; %>
<% } %>
<!-- <div class="outer">
    <div id="modal">
        <h2>Ratings</h2>
        <h2>Ratings</h2>
        <h2>Ratings</h2>
        <h2>Ratings</h2>
        <h2>Ratings</h2>
        <h2>Ratings</h2>
        <h2>Ratings</h2>
        <h2>Ratings</h2>
        <h2>Ratings</h2>
    
        <h2>Ratings</h2>
        <h2>Ratings</h2>
    
        <h2>Ratings</h2>
        <h2>Ratings</h2>
    
        <h2>Ratings</h2>
        <h2>Ratings</h2>
        <h2>Ratings</h2>
    </div>
</div> -->

<div id="blur">
    
    <%- include('header'); -%>
    <%- include('home-category'); -%>
    

    <section class="section-2">
        <h1>Places Near You</h1>
        <div id="map"></div>
    </section>

    <%- include('home-picks'); -%>
    <%- include('footer'); -%>
    
</div>

    

