
    <%- include('header'); -%>
    <%- include('home-category'); -%>

    <section class="section-2">
        <h1>Places Near You</h1>
        <div id="map"></div>
    </section>

    <%- include('home-picks'); -%>
    <%- include('footer'); -%>
