<%- include ("_header.ejs"); %>
<body>
    <div class="jumbotron">
        <div class="container text-left">
            <h1>FAM-Delivery</h1>
            <p>CPSC 471 Project</p>
        </div>
      </div>
</body>
<%- include ("_footer.ejs"); %>