<%- include ("_header.ejs"); %>

    <h1>CPSC 471 Node.js app Project</h1>

<%- include ("_footer.ejs"); %>

<!-- <%- include ("_header"); %>

    <h1>CPSC 471 Node.js app Project</h1>

<%- include ("_footer"); %> -->