<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/login.css"><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
    <title>Sign In/Up</title>
    <script defer src="src/login.js"></script>
</head>
<body>
    <!--LOGIN PAGE-->
    <div class="login">
        <!--LOGIN COMP-->
        <div id="loginContainer" class="container loginContainer">
            <form class="form" method="" action="">
              <a href="#"><img src="/assets/logo-login.png"/></a>
              <input class="field" type="text" placeholder="Email or Phone">
              <input class="field" type="password" placeholder="Password">
              <button class="btn submit">SIGN IN</button>
            </form>
        </div>
        <!--SIGN UP COMP-->
        <div id="signUpContainer" class="container signUpContainer">
            <form class="form" method="" action="">
              <a href="#"><img src="/assets/logo-login.png"/></a>
              <input class="field" type="text" placeholder="Name">
              <input class="field" type="text" placeholder="Email or Phone">
              <input class="field" type="password" placeholder="Password">
              <button class="btn submit">SIGN UP</button>
            </form>
        </div>
        <!--SWITCHING-->
        <div class="alternate" id="alternate">
            <div id="altLogin" class="containerAlternate">
              <h2 class="title">Welcome Back!</h2>
              <p class="description">Login to get all your needs right to your footstep</p>
              <button class="altbtn btn alternateBtn">SIGN IN</button>
            </div>
            <div id="altSignUp" class="containerAlternate is-hidden">
              <h2 class="title">Hello There!</h2>
              <p class="description">Enter your personal details and join the FAM</p>
              <button class="altbtn btn alternateBtn">SIGN UP</button>
            </div>
        </div>
    </div>
</body>
</html>