<%- include ("_header.ejs"); %>
    <h2>Log in</h2>
    <div class="container">
        <div class="container">
            <p>Don't have an account yet? <a href="/signup">Signup</a></p>
        </div>
    </div>
<%- include ("_footer.ejs"); %>