<%- include ("_header.ejs"); %>

<body>

    <div class="container">
      <h2>Enter Sign up info</h2>
      <form>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="username" class="form-control" id="username" placeholder="Enter username">
          </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    <div class="container">
        <p>Already have an account? <a href="/login">Log in</a></p>
    </div>

</body>
<%- include ("_footer.ejs"); %>