:root {
  --font-family: sans-serif;
  font-size: 16px;
  --color-green: #06c167;
  --color-grey: rgb(238, 238, 238);
  --color-greyDarker: rgb(84, 84, 84);
}

* {
  padding: 0;
  margin: auto 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

hr {
  width: 70%;
  color: var(--color-grey);
  border-bottom: 0;
}

.container {
  width: calc(100% - 120px);
  margin: auto;
}

.logo a {
  text-decoration: none;
}

.logo a h1 {
  font-family: 'Eczar', serif;
  color: black;
  font-size: 50px;
  width: 150px;
}

.logo a span {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #999999;
}

nav .container {
  padding: 0rem 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 1rem;
}

nav .search input {
  border-radius: 30px;
  border: solid 0.5px;
  padding: 0.75rem 8rem;
  text-align: center;
}

nav ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: auto 0;
}

nav ol li a {
  text-decoration: none;
}

nav .btn {
  display: block;
  color: #FFFFFF;
  background: #060606;
  border: solid 2px #060606;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  padding: 0.75rem 1rem;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  font-family: 'Trirong';
}

nav .btn:hover {
  color: #060606;
  background: #FFFFFF;
}

nav .btnHolder {
  padding: 0.3rem;
}

section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.section-1 ol {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-1 ol li a {
  -webkit-text-decoration: 0;
          text-decoration: 0;
  color: black;
}

.section-1 ol li a figure {
  padding: 6rem 0.5rem;
}

.section-1 ol li a figure img {
  width: 65px;
  height: 65px;
}

.section-1 ol li a figure figcaption {
  padding: 0 0.5rem;
  font-family: 'Trirong';
  font-weight: 500;
  text-align: center;
  font-size: 13px;
}

.section-1 ol li a figure:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.section-2 {
  padding: 0rem 7rem;
}

.section-2 h1 {
  font-family: 'Shrikhand', cursive;
  font-weight: 200;
  font-size: 30px;
  padding-bottom: 0.5rem;
  padding-top: 0rem;
}

.section-2 #map {
  margin: auto 0;
  height: 400px;
}

img.huechange {
  -webkit-filter: hue-rotate(160deg);
          filter: hue-rotate(160deg);
}

.section-3 {
  padding: 2rem 5rem;
}

.section-3 .container {
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.section-3 .container .card {
  width: 240px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}

.section-3 .container .card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  cursor: pointer;
}

.section-3 .container .content-1 {
  position: relative;
  width: 100%;
  height: 35%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d4d4d4), to(#ffffff));
  background-image: linear-gradient(to bottom, #d4d4d4, #ffffff);
}

.section-3 .container .content-1 .mainImage img {
  width: 175px;
  height: 175px;
  position: absolute;
  top: 20%;
  left: 15%;
  z-index: 100;
}

.section-3 .container .content-2 {
  position: relative;
  padding: 80px 15px;
}

.section-3 .container .content-2 .kind span {
  font-size: 18px;
  font-weight: 400;
  color: black;
}

.section-3 .container .content-2 .kind h4 {
  font-size: 12px;
  color: black;
  font-weight: 200;
}

.section-3 .container .content-2 .description p {
  font-size: 11.5px;
  color: black;
  font-weight: 100;
  margin-top: 10px;
}

.section-3 .container .content-2 .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 15px;
}

.section-3 .container .content-2 .space {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-3 .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-3 .header .headerTitle h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.7rem;
  margin-bottom: 0.25rem;
  margin-top: 2.5rem;
}

.section-3 .header .headerTitle span {
  font-family: 'Poppins', sans-serif;
  color: var(--color-greyDarker);
  font-weight: 300;
  font-size: 0.9rem;
  padding: 0 0.25rem;
}

.section-3 .section-3-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.section-3 .section-3-grid::-webkit-scrollbar {
  display: none;
}

.section-3 .section-3-grid .section-3-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  scroll-snap-align: start;
}

.section-3 .section-3-grid .section-3-grid-element {
  width: calc(1 / 4 * 100% - (1 - 1 / 3) * 40px);
  margin-top: 1.5rem;
}

.section-4 {
  background: black;
  margin-top: 5rem;
  height: 12rem;
  padding: 2.5rem 5rem;
}

.section-4 p {
  font-size: 12px;
  color: white;
  font-weight: 100;
  font-family: 'Poppins', sans-serif;
}

.section-4 p span {
  font-weight: 300;
  font-size: 14px;
}

.section-4 img {
  width: 15%;
}

.section-4 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto 0;
}

.section-4 .logo a h1 {
  color: white;
  font-size: 72px;
}

.column {
  text-align: center;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  float: left;
  width: 20%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  color: #FFFFFF;
  background: #060606;
  border: solid 2px #060606;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  padding: 0.75rem 1rem;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  font-family: 'Ropa Sans';
}

.btn:hover {
  color: #060606;
  background: #FFFFFF;
}
/*# sourceMappingURL=main.css.map */