@import url("https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css");
:root {
  --font-family: sans-serif;
  font-size: 16px;
  --color-green: #06c167;
  --color-grey: rgb(238, 238, 238);
  --color-greyDarker: rgb(84, 84, 84);
}

* {
  margin: auto 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.logo a {
  text-decoration: none;
}

.logo a h1 {
  font-family: 'Eczar', serif;
  color: black;
  font-size: 55px;
}

.logo a span {
  font-family: 'Roboto', sans-serif;
  font-size: 29px;
  color: #999999;
}

nav {
  position: relative;
}

nav .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav .container .search input {
  border-radius: 30px;
  border: solid 0.5px;
  padding: 0.75rem 6rem;
  text-align: center;
}

nav .container .btnHolder {
  padding: 0.5rem;
}

.section-1 ol {
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-1 ol li a {
  -webkit-text-decoration: 0;
          text-decoration: 0;
  color: black;
}

.section-1 ol li a figure img {
  width: 50px;
  height: auto;
}

.section-1 ol li a figure figcaption {
  padding: 0.5rem 0.5rem;
  font-family: 'Trirong';
  font-weight: 500;
  font-size: 7px;
  text-align: center;
}

.section-1 ol li a figure:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.section-2 {
  padding: 0rem 7rem;
}

.section-2 h1 {
  font-family: 'Shrikhand', cursive;
  font-weight: 200;
  font-size: 30px;
  padding-bottom: 0.5rem;
  padding-top: 0rem;
}

.section-2 #map {
  margin: auto 0;
  height: 400px;
}

img.huechange {
  -webkit-filter: hue-rotate(160deg);
          filter: hue-rotate(160deg);
}

.section-3 {
  padding: 2rem 5rem;
}

.section-3 .container {
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.section-3 .container .card {
  width: 240px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}

.section-3 .container .card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  cursor: pointer;
}

.section-3 .container .content-1 {
  position: relative;
  width: 100%;
  height: 35%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d4d4d4), to(#ffffff));
  background-image: linear-gradient(to bottom, #d4d4d4, #ffffff);
}

.section-3 .container .content-1 .mainImage img {
  width: 175px;
  height: 175px;
  position: absolute;
  top: 20%;
  left: 15%;
  z-index: 100;
}

.section-3 .container .content-2 {
  position: relative;
  padding: 80px 15px;
}

.section-3 .container .content-2 .kind span {
  font-size: 18px;
  font-weight: 400;
  color: black;
}

.section-3 .container .content-2 .kind h4 {
  font-size: 12px;
  color: black;
  font-weight: 300;
}

.section-3 .container .content-2 .description p {
  font-size: 11.5px;
  color: black;
  font-weight: 300;
  margin-top: 10px;
}

.section-3 .container .content-2 .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 15px;
}

.section-3 .container .content-2 .space {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-3 .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-3 .header .headerTitle h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.7rem;
  margin-bottom: 0.25rem;
  margin-top: 2.5rem;
}

.section-3 .header .headerTitle span {
  font-family: 'Poppins', sans-serif;
  color: var(--color-greyDarker);
  font-weight: 300;
  font-size: 0.9rem;
  padding: 0 0.25rem;
}

.section-3 .section-3-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  overflow-x: hidden;
  -ms-scroll-snap-type: hidden;
      scroll-snap-type: hidden;
  scroll-behavior: smooth;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-3::-webkit-scrollbar {
  display: none;
}

.section-3 .section-3-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 auto;
}

.section-3 .section-3-grid-element {
  padding: 1.1rem;
  width: calc(1 / 8 * 100% - (1 - 1 / 8));
  margin-top: 1.5rem;
}

.section-4 {
  background: black;
  margin-top: 5rem;
  padding: 2rem 1rem;
  margin-top: 2rem;
}

.section-4 p {
  font-size: 12px;
  color: white;
  font-weight: 100;
  font-family: 'Poppins', sans-serif;
}

.section-4 p span {
  font-weight: 300;
  font-size: 14px;
}

.section-4 .wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto 0;
}

.section-4 .logo h1 {
  color: white;
}

hr {
  width: 70%;
  color: var(--color-grey);
  border-bottom: 0;
}

.container {
  width: calc(100% - 120px);
  margin: auto;
}

.column {
  text-align: center;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  float: left;
  width: 20%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  color: #FFFFFF;
  background: #060606;
  border: solid 2px #060606;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  padding: 0.75rem 1rem;
  border-radius: 30px;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  font-family: 'Ropa Sans';
}

.btn:hover {
  color: #060606;
  background: #FFFFFF;
}

.noty_theme__mint {
  border-radius: 50px !important;
  padding-left: 8px !important;
}

.cart {
  font-family: 'Poppins', sans-serif;
}

.error {
  color: red;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

a .signout {
  margin: 4rem auto;
  display: block;
  color: white;
  background-color: red;
  border: none;
}

.profile {
  margin-top: 6rem;
}

@media (max-width: 3000px) {
  nav {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  .section-1 {
    margin: 2rem;
  }
  .section-1 ol {
    margin: .5rem;
  }
  .section-1 ol li a figure {
    padding: 0rem 0.25rem;
  }
  .section-1 ol li a figure img {
    width: 50px;
    height: auto;
  }
  .section-1 ol li a figure figcaption {
    font-size: 12px;
    padding: 0.5rem 0.25rem;
  }
  .section-2 {
    padding: 2.5rem;
  }
  .section-2 h1 {
    font-size: 30px;
  }
  .section-2 #map {
    margin-bottom: -2rem;
    height: 400px;
    margin-left: 25%;
    margin-right: 25%;
  }
  .section-3 .header .headerTitle h2 {
    font-size: 1.5rem;
    margin-top: 3rem;
  }
  .section-3 .header .headerTitle span {
    font-size: 1rem;
  }
}

@media (max-width: 2500px) {
  .section-2 {
    padding: 2.5rem;
  }
  .section-2 h1 {
    font-size: 30px;
  }
  .section-2 #map {
    margin-bottom: -2rem;
    height: 400px;
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (max-width: 1500px) {
  .section-2 {
    padding: 2.5rem;
  }
  .section-2 h1 {
    font-size: 30px;
  }
  .section-2 #map {
    margin-bottom: -2rem;
    height: 400px;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 1000px) {
  nav {
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
  }
  .section-1 ol {
    margin: .5rem;
  }
  .section-1 ol li a figure {
    padding: 0rem 0.25rem;
  }
  .section-1 ol li a figure img {
    width: 40px;
    height: auto;
  }
  .section-1 ol li a figure figcaption {
    font-size: 10px;
    padding: 0.5rem 0.25rem;
  }
  .section-2 {
    padding: 2.5rem;
  }
  .section-2 h1 {
    font-size: 20px;
  }
  .section-2 #map {
    margin-bottom: -4rem;
    height: 300px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .section-3 .header .headerTitle h2 {
    font-size: 1.2rem;
    margin-top: 3rem;
  }
  .section-3 .header .headerTitle span {
    font-size: .75rem;
  }
  .section-3 .container {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin: -5.5rem auto;
  }
  .section-4 {
    margin-top: 1rem;
  }
  .section-4 p {
    font-size: 10px;
  }
  .section-4 p span {
    font-size: 11px;
  }
  .section-4 .logo a h1 {
    font-size: 38px;
  }
  .section-4 .logo a span {
    font-size: 30px;
  }
}

@media (max-width: 800px) {
  nav {
    -webkit-transform: scale(0.55);
            transform: scale(0.55);
  }
  nav .container {
    margin-top: -1rem;
  }
  .section-1 ol {
    margin: .5rem;
  }
  .section-1 ol li a figure {
    padding: 0rem 0.25rem;
  }
  .section-1 ol li a figure img {
    width: 38px;
    height: auto;
  }
  .section-1 ol li a figure figcaption {
    font-size: 8px;
    padding: 0.5rem 0.25rem;
  }
  .section-2 {
    padding: 2.5rem;
  }
  .section-2 h1 {
    font-size: 16px;
  }
  .section-2 #map {
    margin-bottom: -4rem;
    height: 250px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .section-3 .header .headerTitle h2 {
    font-size: 1.05rem;
    margin-top: 3rem;
  }
  .section-3 .header .headerTitle span {
    font-size: .65rem;
  }
  .section-3 .container {
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
    margin: -5.5rem auto;
  }
  .section-4 {
    margin-top: 1rem;
  }
  .section-4 p {
    font-size: 8px;
  }
  .section-4 p span {
    font-size: 9px;
  }
  .section-4 .logo a h1 {
    font-size: 30px;
  }
  .section-4 .logo a span {
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  nav {
    -webkit-transform: scale(0.45);
            transform: scale(0.45);
  }
  nav .btn {
    padding: .75rem 1.5rem;
    font-size: 14px;
  }
  nav .container {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin-top: -1rem;
  }
  nav .container .logo a h1 {
    font-size: 50px;
  }
  nav .container .logo a span {
    font-size: 27px;
  }
  nav .container .search input {
    padding: .75rem 7rem;
    font-size: 12px;
  }
  .section-1 ol {
    margin: .5rem;
  }
  .section-1 ol li a figure {
    padding: 0rem 0.25rem;
  }
  .section-1 ol li a figure img {
    width: 30px;
    height: auto;
  }
  .section-1 ol li a figure figcaption {
    font-size: 6px;
    padding: 0.5rem 0.25rem;
  }
  .section-2 {
    padding: 2.5rem;
  }
  .section-2 h1 {
    font-size: 14px;
  }
  .section-2 #map {
    margin-bottom: -4rem;
    height: 225px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .section-3 .header .headerTitle h2 {
    font-size: .9rem;
    margin-top: 3rem;
  }
  .section-3 .header .headerTitle span {
    font-size: .6rem;
  }
  .section-3 .container {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    margin: -7.5rem auto;
  }
  .section-4 {
    margin-top: 1rem;
  }
  .section-4 p {
    font-size: 6px;
  }
  .section-4 p span {
    font-size: 7px;
  }
  .section-4 .logo a h1 {
    font-size: 20px;
  }
  .section-4 .logo a span {
    font-size: 15px;
  }
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=main.css.map */