#modal {
    display: none;
    visibility: hidden;
  }
  
  #modal .h2 {
    color: #06c167;
    background: white;
  }
  
  #modal.active {
    width: 600px;
    padding: 50px;
    margin: auto;
    position: absolute;
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  #blur.active:not(#modal) {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }